<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rbx1_description">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import rbx1_description urdf file -->
    <xacro:include filename="$(find rbx1_description)/urdf/rbx1.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="rbx1_description.ros2_control.xacro" />


    <xacro:rbx1_description_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
